.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 250px;
  width: 550px;
  background-color: #f5f5f5;
}

p {
	/* font-family: Arial, sans-serif; */
	font-family: 'Courier New', Courier, monospace;
	font-size: 16px;
	font-weight: 600;
  }